@model IEnumerable<TrilleLille.Web.Models.GroupViewModels.GroupListViewModel>

@{
    ViewData["Title"] = "Grupper";
}
<table class="highlight">
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            <img class="circle responsive-img" width="50" height="50" src="@item.ProfileImageUrl" asp-append-version="true">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeekingParentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorBio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorEmail)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreatorChild)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupIntro)
        </td>
    </tr>
}
    </tbody>
</table>
