@model IEnumerable<TrilleLille.Web.Models.GroupViewModels.GroupListViewModel>

@{
    ViewData["Title"] = "Grupper";
}
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col s6">
            <div class="card horizontal">
                <div class="card-image">
                    <img width="250" height="250" src="@item.ProfileImageUrl" asp-append-version="true">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <h5>@item.Name</h5>
                        </a>
                        <article>
                            @item.GroupIntro
                        </article>
                        <strong>Postnummer:</strong> @item.ZipCode <br />
                        <p>
                            @item.CreatorBio
                        </p>
                        <strong>Barn: </strong>@item.CreatorChild
                    </div>
                    <div class="card-action">
                        <a asp-action="JoinGroup" asp-route-id="@item.Id">Bli med</a>
                        <a href="mailto:@item.CreatorEmail">Kontakt @item.CreatorName</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>