@using Microsoft.AspNetCore.Identity
@using TrilleLille.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrilleLille</title>

    <environment names="Development">
        <link type="text/css" rel="stylesheet" href="~/lib/materialize/dist/css/materialize.css" media="screen,projection" />
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
    </environment>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="" role="navigation">
            <div class="nav-wrapper container">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="left brand-logo">TrilleLille</a>
                <ul class="hide-on-med-and-down right">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Hjem</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Om oss</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Kontakt oss</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                                <li>
                                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hei @UserManager.GetUserName(User)!</a>
                                </li>
                                <li>
                                    <button type="submit">Logg av</button>
                                </li>
                        </form>
                    }
                    else
                    {
                            <li><a asp-area="" asp-controller="Account" asp-action="Register">Registrer deg</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Login">Logg inn</a></li>
                    }

                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Hjem</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Om oss</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Kontakt oss</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                            <li>
                                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hei @UserManager.GetUserName(User)!</a>
                            </li>
                            <li>
                                <button type="submit">Logg av</button>
                            </li>
                        </form>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Registrer deg</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Login">Logg inn</a></li>
                    }
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

            </div>
        </nav>
    </header>
    <main class="container body-content">
        @RenderBody()
    </main>
    <footer class="page-footer grey lighten-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="black-text">Company Bio</h5>
                    <p class="black-text text-lighten-2">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

                </div>
                <div class="col l3 s12">
                    <h5 class="black-text">Settings</h5>
                    <ul>
                        <li><a href="#!" class="black-text">Link 1</a></li>
                        <li><a href="#!" class="black-text">Link 2</a></li>
                        <li><a href="#!" class="black-text">Link 3</a></li>
                        <li><a href="#!" class="black-text">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="black-text">Connect</h5>
                    <ul>
                        <li><a href="#!" class="black-text">Link 1</a></li>
                        <li><a href="#!" class="black-text">Link 2</a></li>
                        <li><a href="#!" class="black-text">Link 3</a></li>
                        <li><a href="#!" class="black-text">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a href="http://materializecss.com" class="black-text text-lighten-2">Materialize</a>
            </div>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize/dist/js/materialize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">

        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">

        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
